<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>      
</head>
<body>
    {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {% if "html_safe" in message.tags %}
        {{ message|safe }}
        {% else %} 
        {{ message }} 
        {% endif %} 
    </li>
    {% endfor %}
</ul>
{% endif %}

    {{obj_details.title}} - {{obj_details.content}}
</body>
</html>